* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-body {
    background-image: url(./imagenes/fondoCard.jpg);
    background-size: cover;
}

#card {
    float: left;
    height: 50%;
    width: 40%;
}

#movimientos {
    height: 30%;
    width: 50%;
}

#menu {
    background-color: rgb(243, 243, 245);
    width: 100%;
    height: 20%;
}

body {
    background-image: url(./imagenes/fondocajero.png.crdownload);
    background-size: cover;

}

h3 {
    color: rgb(241, 12, 12);
}